@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: #f0f0f0 !important;
	color: #2b2b2b;
	font-family: 'Roboto', sans-serif;
}
