.table-wrapper {
  background: #fff;
  width: 100%;

  .toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;

    .search-input {
      width: 280px;
      padding: 8px 12px;
      border: 1px solid #d1d5db;
      border-radius: 10px;
      font-size: 14px;
      outline: none;
    }

    .actions {
      display: flex;
      gap: 8px;

      .btn {
        padding: 8px 16px;
        font-size: 13px;
        font-weight: 600;
        border: none;
        border-radius: 8px;
        color: white;
        cursor: pointer;
        transition: background-color 0.2s;

        &.btn-blue {
          background-color: #4285f4;
          &:hover {
            background-color: #3367d6;
          }
        }
      }
    }
  }

  .table-container {
    max-height: 73vh;
    overflow-y: auto;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    min-width: 600px;

    thead {
      position: sticky;
      top: 0;
      background-color: #f9fafb;
      z-index: 1;

      th {
        text-align: left;
        padding: 12px;
        font-size: 14px;
        font-weight: 600;
        color: #374151;
        border-bottom: 1px solid #e5e7eb;

        &:last-child {
          text-align: center;
        }
      }
    }

    tbody {
      tr {
        &:hover {
          background-color: #f3f4f6;
        }

        td {
          padding: 12px;
          font-size: 14px;
          color: #374151;
          border-bottom: 1px solid #e5e7eb;

          &:last-child {
            text-align: center;
            vertical-align: middle;
          }
        }
      }
    }

    .table__actions {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;

      .icon-btn {
        border: none;
        background: none;
        cursor: pointer;
        padding: 6px;
        border-radius: 6px;
        transition: background-color 0.2s ease;

        &.edit {
          color: #2563eb;
          &:hover {
            background-color: rgba(37, 99, 235, 0.1);
          }
        }

        &.delete {
          color: #dc2626;
          &:hover {
            background-color: rgba(220, 38, 38, 0.1);
          }
        }
      }
    }
  }

  .pagination {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
    margin-top: 5px;
    padding: 12px 0;

    .pagination-info {
      font-size: 13px;
      color: #4b4b4b;
    }

    .pagination-controls {
      display: flex;
      align-items: center;
      gap: 4px;

      .page-btn {
        min-width: 25px;
        height: 25px;
        padding: 0 8px;
        // border: 1px solid #e5e7eb;
        border: none;
        background-color: #fff;
        color: #374151;
        font-size: 13px;
        border-radius: 7px;
        cursor: pointer;
        transition: all 0.2s ease;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover:not(:disabled):not(.dots) {
          background-color: #f3f4f6;
          border-color: #d1d5db;
          
        }

        &.active {
           border: 1px solid #e5e7eb;
          // background-color: #4285f4;
          // color: white;
          // border-color: #4285f4;
          font-weight: 600;

          &:hover {
            background-color: #3367d6;
          }
        }

        &:disabled {
          cursor: not-allowed;
          opacity: 0.5;
        }

        &.dots {
          border: none;
          background: none;
          cursor: default;

          &:hover {
            background: none;
          }
        }
      }
    }
  }
}