.page-wrapper {
  // padding: 24px;

  .page-title {
    font-size: 15px;
    display: block;
    margin-bottom: 6px;
    // font-weight: 500;
    // margin-bottom: 16px;
    // color: #111827;
  }

  .page-content {
    background: #fff;
    // padding-top: 5px;
    // padding: 20px;
    // border-radius: 12px;
    // box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  }
}
