.page-wrapper {
	// padding: 24px;
	display: flex;
	flex-direction: column;
	height: 100%;

	.page-title {
		font-size: 15px;
		display: block;
		margin-bottom: 6px;
		flex-shrink: 0;
		// font-weight: 500;
		// margin-bottom: 16px;
		// color: #111827;
	}

	.page-content {
		background: #fff;
		flex: 1;
		display: flex;
		flex-direction: column;
		min-height: 0;
		// padding-top: 5px;
		// padding: 20px;
		// border-radius: 12px;
		// box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
	}
}
