.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 65px;
  padding: 0 24px;
  background: #fff;
  border-radius: 16px;
  box-shadow: none; 

  &__left {
    display: flex;
    align-items: center;
    gap: 12px;

    h1 {
      font-weight: 600;
      font-size: 18px;
    }

    .header__search {
      display: flex;
      align-items: center;
      background: #f1f3f4;
      border-radius: 9999px; /* bo tròn hoàn toàn */
      padding: 6px 12px;
      transition: all 0.2s ease;
      width: 220px;

      &:hover {
        background: #e8eaed;
      }

      &:focus-within {
        background: #e8eaed;
        // box-shadow: 0 0 0 2px #1a73e8; /* hiệu ứng focus xanh giống Google */
      }

      .icon {
        margin-right: 8px;
        color: #5f6368;
        transition: color 0.2s ease;
      }

      input {
        border: none;
        outline: none;
        background: transparent;
        width: 100%;
        font-size: 14px;
        color: #202124;

        &::placeholder {
          color: #5f6368;
        }
      }
    }
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 16px;

    button {
      font-size: 14px;
      color: #374151;
      background: transparent;
      border: none;
      cursor: pointer;

      &:hover {
        color: #2563eb;
      }
    }

    .avatar {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background: #d1d5db;
    }
  }
}
