.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 96vh;
  width: 17vw;
  background-color: #fff;
  margin: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  display: flex;
  flex-direction: column;

  &__logo {
    display: grid;
    place-items: center;
    height: 120px;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    flex-shrink: 0;
  }

  &__menu {
    position: relative;
    flex: 1;
    overflow-y: auto;

    &__item {
      display: flex;
      align-items: center;
      padding: 1rem 3rem;
      font-size: 1rem;
      font-weight: 500;
      color: #555;
      transition: color 0.3s ease-in-out;
      cursor: pointer;

      &.active {
        color: #fff;
      }

      &__icon {
        margin-right: 1rem;

        i {
          font-size: 1.4rem;
        }
      }
    }

    &__indicator {
      position: absolute;
      top: 0;
      left: 50%;
      width: calc(100% - 40px);
      border-radius: 20px;
      background-color: #4285F4;
      z-index: -1;
      transform: translateX(-50%);
      transition: 0.3s ease-in-out;
    }
  }

  a {
    text-decoration: none;
  }

  > div:last-child {
    padding: 1rem;
    margin-top: auto;
    flex-shrink: 0;
  }
}

